<footer class="d-flex justify-content-between m-5 bg-white shadow-sm">
    <div class="left">
        <%= link_to root_path, data: { turbolinks: false } do %>
          <% image_tag "tetsuinlogo4.png", class: "img-fluid", width: "180px" %>
        <% end %>
        <p class="py-2" style="font-size: 12px; color: #ccc;">©2024 鉄印帳の旅に出よう All rights reserved.</p>
        </div>
    <div class="right text-left">
        <p><%= link_to posts_path, data: { turbolinks: false } do %>
            <i class="bi bi-chat-left-text me-1"></i>
            投稿一覧
        <% end %></p>
        
　　　　<p><%= link_to line_about_path, data: { turbolinks: false } do %>
            <i class="bi bi-chat-left-text me-1" class: "btn btn-outline-success"></i>
            道南いさりび鉄道
        <% end %></p>
    </div>
    
</div>
  
</footer>